


<div class="container" style="margin-top: 5em">
  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Weather forecast</h3>
        </div>
        <div class="panel-body">
          <form novalidate (ngSubmit)="getWeather()"
                #weatherForm="ngForm">

            <label for="cityName">City Name</label>
            <div class="form-group">
            <input type="text" name="cityName" id="cityName" class="form-control" ngModel required>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!weatherForm.valid">
              Get Weather
            </button>

          </form>
        </div>
      </div>

    </div>
    <div class="col-md-6" [ngStyle]="{'visibility': vis }">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Weather in {{ cityName }}</h3>
        </div>
        <div class="panel-body">
          <table>
            <tr *ngFor="let w of weatherOfCities">
              <td>
                <img src="http://openweathermap.org/img/w/{{w.icon}}.png" class="img-rounded" alt="">
              </td>
              <td>
                <strong>{{ w.main}} - {{ w.description }}</strong>

              </td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>




